.container{
    max-width: 1200px; 
    margin: 0 auto;
}
body {
    background-color: lightblue;
  }
    h1 { 
    font-family: Arial, sans-serif;
     font-size: 48px; 
     color: #333333; 
     text-align: center; }
    h2 { 
    font-family: Arial, sans-serif; 
    font-size: 36px; 
    color: #333333; }
    h3 { 
    font-family: Arial, sans-serif; 
    font-size: 24px; 
    color: #333333; }
    p { 
    font-family: Arial, sans-serif; 
    font-size: 18px; 
    color: #333333; }
    img { 
    width: 100%; 
    height: auto; }
    a { 
    font-family: Arial, sans-serif; 
    font-size: 18px; 
    color: #ffffff; 
    background-color: #333333; 
    padding: 10px; 
    text-decoration: none; }
